* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color:#f9f9ff;
    color: #333333;
}

/* common section */

.primary-btn {
    background-color: #4f46e5;
    color: white;
    padding: 18px 36px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.primary-btn:hover {
    background-color: #333150;
    transform: translateY(-2px);
}

.primary-text{
    color: #a1a1a1;
}

.hero-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 1rem;
}


/* ---------------------------------------------- */

/* Header section */
header {
    background-image: url(../Assets/Hero-bg.png);
    width: 100%;
    height: 700px;
}

.hero-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0 150px;
}
.hero-content{
    padding: 0 270px;
    margin: 0 auto;
    text-align: center;;
}


/* -------------------section-2 conten----------------------- */
.section-2 {
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
}
.action-content1{
    width: 50%;
}
.section-2-heading{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 1rem;
}
.action-content1 p{
    font-size: 24px;
    margin-bottom: 1.5rem;
}
.action-content2 img{
    width: 100%;
    border-radius: 48px;
}

/* -----------section-3 content------------ */
.section-3{
    background-color: rgb(211, 242, 255);
    border-radius: 20px;
    margin: 0 150px;
}
.section-3-content1{
    display: block;
    margin: 0 auto;
    padding: 50px 142px;
    /* align-items: center; */
}
.section-3-action-heading{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
}
.data-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
    
    
}
.section-3-data-head{
    font-size: 80px;
}
.description{
    text-align: center;
}

/* -------------testimonials section---------------------- */
.testimonials-section{
    margin: 100px 150px;

}

.testimonials-section h2{
    text-align: center;
}

.testimonial-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.testimonial-card{
    padding: 24px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);

}
.stars{
    color: #FFB805;
    font-size: 20px;
    padding-bottom: 24px;
}