* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9ff;
    color: #333333;
}

/* common section */

.primary-btn {
    background-color: #4f46e5;
    color: white;
    padding: 18px 36px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.primary-btn:hover {
    background-color: #333150;
    transform: translateY(-2px);
}

.primary-text {
    color: #a1a1a1;
}

.hero-title {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 1rem;
}


/* ---------------------------------------------- */

/* Header section */
header {
    background-image: url(../Assets/Hero-bg.png);
    width: 100%;
    height: 700px;
}

.hero-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0 150px;
}

.hero-content {
    padding: 0 270px;
    margin: 0 auto;
    text-align: center;
    ;
}


/* -------------------section-2 conten----------------------- */
.section-2 {
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
}

.action-content1 {
    width: 50%;
}

.section-2-heading {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.action-content1 p {
    font-size: 24px;
    margin-bottom: 1.5rem;
}

.action-content2 img {
    width: 100%;
    border-radius: 48px;
}

/* -----------section-3 content------------ */
.section-3 {
    background-color: rgb(211, 242, 255);
    border-radius: 20px;
    margin: 0 150px;
}

.section-3-content1 {
    display: block;
    margin: 0 auto;
    padding: 50px 142px;
    /* align-items: center; */
}

.section-3-action-heading {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
}

.data-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;


}

.section-3-data-head {
    font-size: 80px;
}

.description {
    text-align: center;
}

/* -------------testimonials section---------------------- */
.testimonials-section {
    margin: 150px 150px;

}

.testimonials-section h2 {
    text-align: center;
    padding-bottom: 30px;
}

.testimonial-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.testimonial-card {
    padding: 24px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);

}

.stars {
    color: #FFB805;
    font-size: 20px;
    padding-bottom: 24px;
}

.testimonial-card h3 {
    font-size: 24px;
    padding-bottom: 8px;
    color: #555;
}

.testimonial-card p {
    font-size: 18px;
    color: #555;
}

.reviewer-info {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 24px;
}

.reviewer-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.reviewer-info div {
    align-items: left;
}

.reviewer-info h5 {
    padding-bottom: 6px;
    font-size: 18px;
    color: #818181;
}

.reviewer-info small {
    font-size: 14px;
    color: #a1a1a1;
}

/* ---------------focus-section----------------- */
.focus-section {
    background-color: white;
    margin: 150px 150px;
    border-radius: 20px;
}

.focus-section div {
    padding: 100px 150px;
    text-align: center;
}

.focus-section-heading {
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
}

.focus-section p {
    padding-bottom: 20px;
}

.focus-section button {
    margin-bottom: 20px;
}

.focus-section img {
    width: 100%;
    border-radius: 40px;
}

.connect-section {
    padding: 100px 150px;
}

.connect-contents {
    display: flex;
    justify-content: space-between;
}

.connect-contents1 {
    width: 50%;
    font-size: 80px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.connect-contents2 {
    width: 50%;
    display: block;

}

.connect-contents2 form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
